*{
	margin: 0;
	padding: 0;
}


::-webkit-scrollbar{
	width: 15px;
}


::-webkit-scrollbar-track{
	box-shadow: inset 0 0 4px #6868ff;
}


::-webkit-scrollbar-thumb{
	background: #73bfbf;
}


::-webkit-scrollbar-thumb:hover{
	background: #128283;
}


ul {
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	overflow: hidden;
	list-style-type: none;
	background-color: #22a2d8f2;
}


li {
	float: left;

}


li a {
	color: #ffffff;
	display: block;
	font-weight: bold;  
	text-align: center; 
	padding: 17px 16px;
	text-decoration: none;
	font-family: sans-serif;
}


li a:hover{
	color: #bdf9fb;
	border-bottom: 2px solid yellow;
}


.login{
	float: right;
	padding-right: 14px;
}


 .searchA {
	float: right;
	color: white;
	padding: 13px 9px;
}


.searchA input{
	width: 260px;
	overflow: hidden;
	border-radius: 14px;
	border: 2px solid white;
	padding: 4px 1px 5px 25px;
} 


.search_box{
	position: fixed;
	transform: rotate(45deg);
	margin: 18px 0px 0px 997px
}


.circle{
	width: 10px;
	float: left;
	height: 10px;
	border-radius: 25px;
	border: 2px solid black;
}


.circle_line{
	top: 6px;
	left: 12px;
	width: 7px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	border-radius: 10px;
	border: 1px solid black;
}


.box {
	height: 367px;
}


.box img{
	width: 100%;
	height: 367px;
}


.placement{
	height: 935px;
	padding: 0px 15px;
	margin: 7px auto 0px auto;
	background-color: #ffffff;
}


.placement h1{
	width: 453px;
	color: #7c8ee5;
    overflow: hidden;
    margin-top: 25px;
    padding-right: 0px;
    -webkit-transition: 1.1s;
    font-family: sans-serif;
}


.placement h1:hover{
	background: cyan;
}


.placement p{
	color: #000048;
    font-size: 25px;
    position: static;
    line-height: 40px;
    margin-left: 326px;
    margin-top: -428px;
    word-break: break-word;
    font-family: "Roboto",sans-serif;
}


.placement p::selection{
	color: white;
	background-color: #9090a7;
}


.placement p, #HOD img{
	display: flex;
}


#HOD h1:hover{
	background: cyan;
}


#HOD img{
	width: 265px;
    height: 315px;
    margin-top: 24px;
    margin-left: 20px;
    border: 1px solid black;
}


.vm{
	height: 1135px;
	padding: 0px 12px;
	background-color: #f5f5ff;
	margin: -7px auto 0px auto;
}


.vm h1{
	width: 286px;
	color: black;
	padding: 15px 0px;
	margin-left: 25px;
	font-family: sans-serif;
}


.vm ol{
	color: blue;
	font-size: 25px;
	line-height: 40px;
	padding: 0px 52px;
	font-family: system-ui;
}


.vm h1:hover{
	text-decoration: underline;
}


.vm li:hover{
	text-decoration: underline;
}


.cp{
	height: 650px;
	padding: 0px 12px;
	background-color: #f0f0f0;
	margin: -7px auto auto auto;
}


.cp h1{
	color: #000000e0;
	font-family: math;
	text-align: center; 
}


.cp img{
}


.cp img:hover{
	filter: brightness(1.2);
}


.aces{
	height: 530px;
	color: #23088a;
	padding: 0px 40px;
	font-family: sans-serif;
	background-color: #69515121;
	margin: 0px auto auto auto;
}


.aces h2{
	width: 295px;
    -webkit-transition: 1s;
}


.aces h2:hover{
	margin-left: 15px;
}


.footer{
	color: white;
	height: 500px;;
	padding: 40px 40px;
	font-family: system-ui;
	background-color: #004e74; 
}


.footer button{
	z-index: 10;
	right: 20px;
	border: none;
	color: white;
	bottom: 30px;
	outline: none;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	position: fixed;
	overflow: hidden;
	font-weight: bold;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: #cccce0ba;
}


.footer button:hover{
	background-color: #b1b1c8ba;
}




